{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block menu %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="#">Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
</ul>
{% endblock %}
{% block navbar %}
                {% if session['email'] %}
                <form class="d-flex" action="/logout">                  
                  <button class="btn btn-outline-success" type="submit">Log Out</button>
                </form>                
                {% endif %}
{% endblock %}                

{% block body %}    
    <div class="row text-center mb-5 mt-5">
        <div class="col-lg-8 offset-lg-2">
            <img src="static/img/404-error.svg" class="filter-green mb-3" width="120" />
            <h3 class="display-4">Oh no...404</h3>
            <p class="lead">
                Well, it's a bummer, it looks like something has gone wrong. Maybe internet is broken or something...
                If the issue persists please contact us.
            </p>
            <p><a href="{{ url_for('index') }}">Click Here</a>To go to the Home Page</p>
          </div>
    </div>
{% endblock %}