        <!-- DELETE (delete a row in your spreadsheet) -->
        <div class="accordion-item">
            <div class="card mt-3">
                <div class="card-header accordion-header">
                    <div class="d-flex align-items-center">
                        <span class="badge badge-info mr-1 {% if not sheet.delete_action_enabled %}disabled{% endif %}">DELETE</span>
                        <h6>Delete a row in your spreadsheet</h6>

                        <div class="form-check form-switch">
                            <input class="form-check-input" api-action-name="delete" type="checkbox" role="switch" id="apiDeleteEnabled" data-toggle="toggle" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseGet" {% if sheet.delete_action_enabled %}checked{% endif %} onclick="updateApiAction(this, '{{ sheet.id }}')">
                            <label class="form-check-label" for="apiDeleteEnabled">
                                {% if sheet.delete_action_enabled %}Enabled{% else %}Disabled{% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-body accordion-collapse collapse {% if sheet.delete_action_enabled %} show {% endif %}" id="collapseDelete">
                    <div class="input-group accordion-body mb-3">
                        <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/[Object ID]" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                          title="Copy to Clipboard" onclick="copyToClipboard(this)">Copy</button>
                        </div>
                    </div>            
                    <h6 class="card-title">Javascript Example</h6>
                    <code class="card card-body bg-light">
                      <!--/{{ sheet.sheet_name|lower }}-->
                        <pre>
  
    let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/2';
    fetch(url, {
        method: 'DELETE',
    })
        .then((response) => response.json())
        .then(() => {
            console.log('Object deleted');
        });
                      </pre>
                    </code>
                </div>
            </div>
        </div>
        <!-- /DELETE (delete a row in your spreadsheet) -->
