            <!-- GET (retrieve rows) -->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <span class="badge badge-info mr-1">GET</span>
                        <h6>Retrieve rows from your spreadsheet</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                          title="Copy to Clipboard" onclick="eventHandler()">Copy</button>
                        </div>
                    </div>            
                    <h6 class="card-title">Javascript Example</h6>
                    <code class="card card-body bg-light">
                      <!--/{{ sheet.sheet_name|lower }}-->
                        <pre>
    let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}';
    fetch(url)
        .then((response) => response.json())
        .then(json => {
            // Do something with the data
            console.log(json.sheet1S);
        });
                        </pre>
                    </code>
                </div>
            </div>
            <!-- /GET (retrieve rows) -->
            <script>
                function eventHandler() {
                    /* Get the text field */
                    var copyText = document.getElementById("myInput");
                
                    /* Select the text field */
                    copyText.select();
                    copyText.setSelectionRange(0, 99999); /* For mobile devices */
                
                    /* Copy the text inside the text field */
                    navigator.clipboard.writeText(copyText.value);
                
                    /* Alert the copied text */
                    alert("Copied the text: " + copyText.value);
                }
            </script>