<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Main Styles -->
    <link rel="stylesheet" href="static/styles/main.css">

    <title>HackBright Project :: Dashboard</title>
  </head>
  <body>
    <div class="container">        
        <!-- Navbar content -->      
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Spreadsheet API</a>                           
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Templates</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                  </li>
                </ul>
                {% if session['email'] %}
                <form class="d-flex" action="/logout">                  
                  <button class="btn btn-outline-success" type="submit">Log Out</button>
                </form>                
                {% endif %}
              </div>
            </div>
          </nav>
        <!-- END Navbar content -->

        <ul id="flashed_messages">
          {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      
        <h3>Dashboard</h3>
    </div>
  </body>
</html>