{% extends 'base.html' %}

{% block title %}Spreadsheet API{% endblock %}

{% block navbarRoute %}
                {% if 'email' in session %}
                <form class="d-flex" action="/login">                  
                  <button class="btn btn-outline-success" type="submit">Log In</button>
                </form>                
                {% else %}
                <form class="d-flex" action="/signup">                  
                  <button class="btn btn-outline-success" type="submit">Get Started</button>
                </form>
                {% endif %}
{% endblock %}

{% block body %}
    <h3>Welcome</h3>
{% endblock %}