{% extends 'base.html' %}

{% block title %}Spreadsheet API &mdash; Show Sheet{% endblock %}

{% block menu %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/showcases">Showcases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>                  
</ul>
{% endblock %}
{% block navbar %}                
                {% if session['email'] %}
                <form class="d-flex" action="/logout">                  
                  <button class="btn btn-outline-success" type="submit">Log Out</button>
                </form>                
                {% endif %}
{% endblock %}                

{% block body %}
    <div class="row">
      <div class="col-md">
        <h3 class="display-6">{{ sheet.sheet_name }}</h3>
        <a href="https://docs.google.com/spreadsheets/d/{{ sheet.google_spreadsheet_id }}/edit#gid=0" target="_blank">Open in Google Drive</a>
      </div>
   </div>
    <!-- TAB INTERFACE -->
    <div class="row">
      <div class="col-md">
        <!-- Nav tabs -->
        <!--  role="presentation" attribute informs the browser that this element is actually a JavaScript-powered presentation widget -->
        <!-- The ARIA attributes "aria-selected etc." specify the current state and must be updated in JS -->
        <!-- role="tablist" Indicates that the element serves as a container for a set of tabs -->
        <!-- role="tab" Indicates the element serves as a tab control. When focused, is automatically activated, causing its associated tabpanel to be displayed. Provides a title for its associated tabpanel. -->
        <!-- aria-selected="true" Indicates the tab control is activated and its associated panel is displayed. Set when a tab receives focus.-->
        <!-- aria-selected="false" Indicates the tab control is not active and its associated panel is NOT displayed. Set for all tab elements in the tab set except the focused tab. -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="api-tab" data-bs-toggle="tab" data-bs-target="#api" type="button" role="tab" aria-controls="api" aria-selected="true">API</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false">Statistics</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
          </li>
        </ul>
        <!-- Tab panels container. Tabpanel is hidden until its associated tab control clicked -->
        <div class="tab-content" id="myTabContent">
          <!-- API TAB PANEL CONTAINER -->
          <div class="tab-pane fade show active" id="api" role="tabpanel" aria-labelledby="api-tab">
            <div class="accordion">
              {% include "api_get.html" %}
              {% include "api_post.html" %}
              {% include "api_put.html" %}
              {% include "api_delete.html" %}
            </div>            
          </div>
          <!-- /API TAB PANEL CONTAINER -->

          <!-- STATISTICS TAB PANEL CONTAINER -->
          <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
            {% include "statistics.html" %}
          </div>
          <!-- /STATISTICS TAB PANEL CONTAINER -->

          <!-- SETTINGS TAB PANEL CONTAINER -->
          <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            {% include "settings.html" %}
          </div>
          <!-- /SETTINGS TAB PANEL CONTAINER -->
        </div>
      </div>
    </div>
    <!-- /TAB INTERFACE -->
{% endblock %}