{% extends 'base.html' %}

{% block title %}Spreadsheet API &mdash; Showcase{% endblock %}

{% block menu %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/showcases">Showcases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
</ul>
{% endblock %}
{% block navbar %}
                {% if session['email'] %}
                <form class="d-flex" action="/logout">
                  <button class="btn btn-outline-success" type="submit">Log Out</button>
                </form>
                {% endif %}
{% endblock %}

{% block body %}
<h3 class="display-6">Yoga Studio</h3>
<p class="card-text">Sample website for yoga studio with CMS-like capabilities based on the spreadsheet data</p>
<div class="row">
    <div class="col-md">
      <a href="/showcases/studio">Back to Showcase</a>
    </div>
 </div><br />

 <script>
  'use strict';
  $(function() {
    let url = 'http://localhost:5000/api/sheets/1-Z-kDYHlpt_vRfaScTJ-WzCR6DPkuLRuumSISpBSzvI';
    fetch(url)
        .then((response) => response.json())
        .then(json => {
            json.forEach(el => {
              if (el['Title'] == "About") {
                document.getElementById("title-about").innerHTML = el["Title"];
                document.getElementById("text-about").value = el["Text"];
              }
              else if (el['Title'] == "Contacts") {
                document.getElementById("title-contacts").innerHTML = el["Title"];
                document.getElementById("text-contacts").value = el["Text"];
              }
            });
        });

    let url_get_schedule = 'http://localhost:5000/api/sheets/1M4SwxMxOGsJSh_FIZBxktitoQhM2xrbRgQQszrriD1M'
    fetch(url_get_schedule)
      .then((response) => response.json())
      .then(json => {
        json.forEach(el => {
          const schedule_data = document.getElementById('template');
          const clone = schedule_data.cloneNode(true);
          const trs = clone.querySelectorAll('tr');

          trs[0].querySelector("#week-day").innerHTML = el['Day'];
          jQuery("#schedule-elements").append(trs[0]);
          trs[1].querySelector(".time").innerHTML = el['Time'];
          trs[1].querySelector(".class-name").innerHTML = el['Class Name'];
          trs[1].querySelector('.edit-item').setAttribute('href', `/showcases/studio/edit?id=${el['id']}`);

          trs[1].querySelector('.delete-item').setAttribute('onclick', `deleteItem(${el['id']})`);

          if (el['Teacher'] == null) {
            trs[1].querySelector(".teacher").innerHTML = '<img src="/static/img/avatar.png" class="wpx_small img-round mgb-10">';
          }
          else {
            trs[1].querySelector(".teacher").innerHTML = el['Teacher'];
          }
          jQuery("#schedule-elements").append(trs[1]);
        })
      });
  })
</script>

<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-header">
                <div class="d-flex align-items-center">
                  Update &ldquo;<h6 id="title-about">About</h6>&rdquo;
                </div>
            </div>
            <div class="card-body">
                <form class="row g-3" id="about_form" method="Post" onsubmit="event.preventDefault();">
                    <textarea class="form-control" rows="3" id="text-about">&nbsp;</textarea>
                    <small class="text-muted">The text will be changed on your website</small>
                    <button class="btn btn-primary" type="submit" onclick="updateCategory(2)";>Save Changes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mt-3">
            <div class="card-header">
                <div class="d-flex align-items-center">
                  Update &ldquo;<h6 id="title-contacts">Contact</h6>&rdquo;
                </div>
            </div>
            <div class="card-body">
                <form class="row g-3" id="contacts_form" method="Post" onsubmit="event.preventDefault();">
                    <textarea class="form-control" rows="3" id="text-contacts">&nbsp;</textarea>
                    <small class="text-muted">The text will be changed on your website</small>
                    <button class="btn btn-primary" type="submit" onclick="updateCategory(3)";>Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="table-responsive container col-xxl-8 px-4 py-5">
    <h2 class="display-6">05/30 &ndash; 06/06</h2>
    <p>Weekly schedule for Meditation and Vinyasa Yoga at Palo Alto, CA</p>
    <form class="d-flex" action="/showcases/studio/add">
        <button class="btn btn-outline-success" type="submit">Add to schedule</button>
    </form>
    <table class="table text-center schedule-font">
      <thead>
        <tr>
          <th style="width: 20%;"></th>
          <th style="width: 30%;">&nbsp;</th>
          <th style="width: 19%;">&nbsp;</th>
          <th style="width: 26%;"></th>
        </tr>
      </thead>
      <tbody id="schedule-elements">
        &nbsp;
      </tbody>
    </table>
  </div>

  <table id="template" style="visibility: hidden;">
    <tbody>
      <tr>
          <th scope="row" colspan="4" class="text-start" id="week-day">Tuesday</th>
      </tr>
      <tr>
          <td class="time"><span>6:00am &ndash; 7:30am (PDT)</span></td>
          <td class="class-name">Vinyasa Krama</td>
          <td><span class="teacher">Brenda Robertson</span></td>
          <td class="text-small">
            <a class="edit-item" href="/showcases/studio/edit/">
              <img src="/static/img/showcases/edit.png" width="30" height="30" class="mb-3" width="120" />
            </a>&nbsp;
            <a class="delete-item" href="#" onclick="deleteItem(); return false;">
              <img src="/static/img/showcases/delete.png" width="30" height="30" class="mb-3" width="120" />
            </a>
          </td>
      </tr>
    </tbody>
  </table>

{% endblock %}