{% extends 'base.html' %}

{% block title %}Spreadsheet API &mdash; Show Sheet{% endblock %}

{% block menu %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="#">Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>                  
</ul>
{% endblock %}
{% block navbar %}                
                {% if session['email'] %}
                <form class="d-flex" action="/logout">                  
                  <button class="btn btn-outline-success" type="submit">Log Out</button>
                </form>                
                {% endif %}
{% endblock %}                

{% block body %}
    <h3>Behaviors for {{ sheet.sheet_name }}</h3>
    <a href="https://docs.google.com/spreadsheets/d/{{ sheet.google_spreadsheet_id }}/edit#gid=0" target="_blank">Open Spreadsheet in Google Drive</a>    
    <!-- GET (retrieve rows) -->
    <div class="card mt-3">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <span class="badge badge-info mr-1">GET</span>
                <h6>Retrieve rows from your spreadsheet</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                  title="Copy to Clipboard">Copy</button>
                </div>
            </div>            
            <h6 class="card-title">Javascript Example</h6>
            <code class="card card-body bg-light">
              <!--/{{ sheet.sheet_name|lower }}-->
                <pre>
let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}';
fetch(url)
    .then((response) => response.json())
    .then(json => {
        // Do something with the data
        console.log(json.sheet1S);
    });
                </pre>
            </code>
        </div>
    </div>
    <!-- /GET (retrieve rows) -->
    
    <!-- POST (add row) -->
    <div class="card mt-3">
      <div class="card-header">
          <div class="d-flex align-items-center">
              <span class="badge badge-info mr-1">POST</span>
              <h6>Add a row to your spreadsheet</h6>
          </div>
      </div>
      <div class="card-body">
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                title="Copy to Clipboard">Copy</button>
              </div>
          </div>            
          <h6 class="card-title">Javascript Example</h6>
          <code class="card card-body bg-light">
            <!--/{{ sheet.sheet_name|lower }}-->
              <pre>
let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}';
let body = {
  ...
}
fetch(url, {
  method: 'POST',
  body: JSON.stringify(body)
})
.then((response) => response.json())
.then(json => {
  // Do something with object
  console.log(json.sheet1);
});
              </pre>
          </code>
      </div>
    </div>
    <!-- /POST (add row) -->

    <!-- PUT (edit a row in your spreadsheet) -->
    <div class="card mt-3">
      <div class="card-header">
          <div class="d-flex align-items-center">
              <span class="badge badge-info mr-1">PUT</span>
              <h6>Edit a row in your spreadsheet</h6>
          </div>
      </div>
      <div class="card-body">
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/[Object ID]" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                title="Copy to Clipboard">Copy</button>
              </div>
          </div>            
          <h6 class="card-title">Javascript Example</h6>
          <code class="card card-body bg-light">
            <!--/{{ sheet.sheet_name|lower }}-->
              <pre>
let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/2';
let body = {
  ...
}
fetch(url, {
  method: 'PUT',
  body: JSON.stringify(body)
})
.then((response) => response.json())
.then(json => {
  // Do something with object
  console.log(json.sheet1);
});
              </pre>
          </code>
      </div>
    </div>
    <!-- /PUT (edit a row in your spreadsheet) -->

    <!-- DELETE (delete a row in your spreadsheet) -->
    <div class="card mt-3">
      <div class="card-header">
          <div class="d-flex align-items-center">
              <span class="badge badge-info mr-1">DELETE</span>
              <h6>Delete a row in your spreadsheet</h6>
          </div>
      </div>
      <div class="card-body">
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="SheetId" value="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/[Object ID]" aria-label="http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}" aria-describedby="btnCopy">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnCopy" data-toggle="tooltip" data-placement="button"
                title="Copy to Clipboard">Copy</button>
              </div>
          </div>            
          <h6 class="card-title">Javascript Example</h6>
          <code class="card card-body bg-light">
            <!--/{{ sheet.sheet_name|lower }}-->
              <pre>
let url = 'http://localhost:5000/api/sheets/{{ sheet.google_spreadsheet_id }}/2';
fetch(url, {
  method: 'DELETE',
})
.then((response) => response.json())
.then(() => {
  console.log('Object deleted');
});
              </pre>
          </code>
      </div>
    </div>
    <!-- /DELETE (delete a row in your spreadsheet) --> 
<script src="/static/event_handlers.js"></script>
{% endblock %}