{% extends 'base.html' %}

{% block title %}Spreadsheet API &mdash; Sign Up{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-3">
              &nbsp;
            </div>
            <div class="col-6">                
                <form class="row g-3" id="login_form" action="#" method="Post">
                    <h3>Sign Up</h3>
                    <p>Already have an account? <a href="/login">Log In</a></p>                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="repeated_password" class="form-label">Repeat Password</label>
                        <input type="text" class="form-control" name="repeated_password">
                    </div>                    
                    <button type="submit" class="btn btn-primary">Sign in</button>                    
                </form>
            </div>
            <div class="col-3">
                &nbsp;
            </div>
        </div>
{% endblock %}