body {
    /* background-color: #EEFFFD; */
    
}

body div.content {
    margin-top: 2em;
}

.me-auto {
    margin-left: auto!important;
}

#login_form {    
    margin-top: 30px;
}

#flashed_messages {
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 8px 0;
    font-size: 0.85em;
}

.navbar>.container-fluid {
    padding-left: 0;
}

h3.display-6 {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

h6 {
    margin: 8px 0;
}


.badge.badge-info.mr-1.disabled {
    background-color: #F7F7F7;
    color: #6E6E6E;
    margin-right: 8px;
    margin-top: 2px;
}
.badge.badge-info.mr-1.danger {
    background-color: #dc3545;
    margin-right: 8px;
}
.badge.badge-info.mr-1.warning {
    background-color: #ffc107;
    margin-right: 8px;
}

.badge.badge-info.mr-1 {
    background-color: #20c997;
    margin-right: 8px;
}

.btn-primary, .btn-outline-success:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.btn-outline-success {
    border-color: #20c997;
    color: #20c997;
}
.btn-primary:hover {
    background-color: #00B779;
    border-color: #00B779;
}

.btn-primary:focus {
    color: #fff;
    background-color: #00B779;
    border-color: #00B779;
    box-shadow: none;
}

a, .nav-link {
    color: #20c998;
}
a:hover, .nav-link:hover, .nav-link:focus {
    color: #00B779;
}
/* .nav {
    
    --bs-link-color: color: #00B779;
    --bs-nav-link-color: color: #00B779;
    --bs-nav-link-hover-color: color: #00B779;
} */

.card-body pre {
    margin-bottom: 0;    
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #38ffbb;
    border-top-color: rgb(56, 255, 187);
    border-right-color: rgb(56, 255, 187);
    border-bottom-color: rgb(56, 255, 187);
    border-left-color: rgb(56, 255, 187);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 183 121 / 25%);
}


#myTab {
    margin-top: 25px;
}


.nav-item button.nav-link.active {
    font-weight: bold;
    color: #000;
}

.lead {
    font-size: 0.95em;
}

.filter-green {
    filter: invert(67%) sepia(18%) saturate(1928%) hue-rotate(111deg) brightness(97%) contrast(75%);
}

.table td, .table th {
    vertical-align: top;
}
.table tr.row_total {
    border-bottom: 1px solid #fff;
}
.row_total td {
    font-weight: 500;
}

small.text-muted {
    font-size: 0.8em;
}

/***********************/
.accordion {
    margin-bottom: 20px;
}

.accordion-body {
    margin: 0;
    padding: 0;
}

.accordion-item {
    border: none;
}

.form-check {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1rem;
    padding-left: 1.5rem;
    margin-left: auto!important;
    font-size: 0.85em;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23BEBEBE'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #00B779;
    border-color: #00B779;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}


.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-text {
    font-size: 0.85em;
}

/* .ember-view {
    color: #000;
}
.ember-view:hover {
    color: #F1615A;
} */

.schedule-font {
    font-size: 0.85em;
}
.schedule-font span {
    font-weight: normal;
}

.img-round, .img-rel-round {
    border-radius: 50%;
}
.wpx_small, .wpx-after:after {
    width: 40px;
}
.mgb-10, .mgb-10-all > * {
    margin-bottom: 10px;
}

.text-small {
    font-size: 0.85em;
}

/* Icon when the collapsible content is shown */
/* .btn:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  margin-left: 15px;
} */
/* Icon when the collapsible content is hidden */
/* .btn.collapsed:after {
  content: "\e080";
} */


/* SHOWCASE STUDIO */

#showcase_studio {
    /* background-image: url('static/img/showcases/bg_schedule.png'); */
    background-image: url(/static/img/showcases/bg_schedule.png);
    background-repeat: no-repeat;
    /* transform: scaleX(-1); */
    border: 1px solid #DEE2E6;
    padding: 20px 20px 0 20px;
}

.showcase-text {
    padding: 10px;
    text-align: left;
}
span.showcase-instructors-title {
    color: #4f7770;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid red;
}

.showcase-instructors-btn {
    box-shadow: 0px 10px 25px rgba(242, 185, 182,100); 
    -moz-box-shadow: 0px 10px 25px rgba(242, 185, 182,100); 
    -webkit-box-shadow: 0px 10px 25px rgba(242, 185, 182,100); 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 11px 35px 18px 35px;
    text-transform: none;
    border-radius: 29px;
    -moz-border-radius: 29px;
    -webkit-border-radius: 29px;
    background: #f1615a;
    float: right;
    margin: 30px 20px 0 0;
}

.showcase-instructors-btn:hover {
    color: #fff;
    background: #ef4a42;
}

.py-5 {
    padding-top: 1rem!important;
}